<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <!-- Use Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Use JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.js" 
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" 
            crossorigin="anonymous"></script>
    <script type="text/javascript" 
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <title>크래프톤 정글 BLUE | Casting Vote</title>
    <style>
        .wrap {
            margin: auto;
            width: 600px;
        }

        .mytitle {
            color: black;
            width: 600px;
            height: 100px;
            /* background-image: url('https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg'); */
            /* background-position: center; */
            /* background-size: cover; */

            border-radius: 10px;
            text-align: center;
            padding-top: 50px;
        }
    </style>

    <script>
            let cnt = 2;
            let userId;
            $(document).ready(function () {
            getUsername();

            }); 

            function getUsername(){
            $.ajax({
              type: "GET",
              headers: {
                  'Authorization' : `Bearer ${$.cookie('mytoken')}`,
              },
              url: "/protected",
              data: {},
              success: (res) => {
                  console.log(res);
                  if (res['result'] == 'success') {
                    userId=res['logged_in_as']['identity']
                          
                  }else{
                      window.location.replace("/")
                  }
              }
              
            })
        }   

          function create(){
            var title = $("#title").val()
            var details = $("#details").val()
            var multi = $("input[name=multi]:checked").val()
            var room = $("input[name=class]:checked").val()
            
            
            let parse = {};            
            for(i = 1;i<=cnt;i++){
                let value = $(`#text${i}`).val()
                parse[value] = []
            }
          
            $.ajax({
            type: "POST",
            url: "/list/create/post",
            data: {"title": title, "details" : details, "multi": multi, "room": room, "voteContents": JSON.stringify(parse), "createId" : userId ,"valid" : 1},
            success: (res) => {
                console.log(res);
                console.log(res['result']);
                if (res['result'] == 'success') {
                   alert('등록되었습니다.')
                   window.location.replace("/list")
                }else{
                    console.log("fail");
                }
            }

             })



        }
    </script>
</head>

<body>
    <div class="wrap">
        <div class="mytitle mb-6">
            <h1 class="title is-1">Casting Vote</h1>
        </div>

        <div id="vote-box" class="box mb-4" style="width:600px; margin:auto;">
            <!-- <div class="columns"> -->
                <!-- <div class="column"> -->
                    
                    <div class="field">
                        <label class="label is-size-4">Title</label>
                        <div class="control">
                            <input id="title" class="input" type="text" placeholder="input Title">
                        </div>
                    </div><!-- /title -->
              
                    <div class="field">
                        <label class="label is-size-4">Detail</label>
                        <div class="control">
                            <textarea id="details" class="textarea" placeholder="detail contents" rows="2"></textarea>
                        </div>
                    </div><!-- /Detale -->
                    <label class="label is-size-4">Vote</label>

                    <div id="vote-setting" class="ml-5">
                        <div class="field has-addons">
                            <label class="label mr-5">중복 제약</label>
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="multi" value="True" checked>
                                    가능
                                </label>
                                <label class="radio">
                                    <input type="radio" name="multi" value="False">
                                    불가능
                                </label>
                            </div>
                        </div><!-- /Multi -->

                        <div class="field has-addons">
                            <label class="label mr-5">클래스 제약</label>
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="class" value="레드" checked>
                                    레드
                                </label>
                                <label class="radio">
                                    <input type="radio" name="class" value="블루">
                                    블루
                                </label>
                                <label class="radio">
                                    <input type="radio" name="class" value="그린">
                                    그린
                                </label>
                                <label class="radio">
                                    <input type="radio" name="class" value="ALL">
                                    모든 클래스
                                </label>
                            </div>
                        </div><!-- /Class -->
                        <label class="label">세부항목</label>

                        <div id="vote-option" class="m-5">
                            <div class="field has-addons">
                                <label class="label mr-5 has-text-justified">1</label>
                                <div class="control is-expanded">
                                    <input id="text1" class="input" type="text" placeholder="input Option">
                                </div>
                                <div class="control">
                                    <a class="button is-invisible">-</a>
                                </div>
                            </div>
                            <div class="field has-addons">
                                <label class="label mr-5">2</label>
                                <div class="control is-expanded">
                                    <input id="text2" class="input" type="text" placeholder="input Option">
                                </div> 
                                <div class="control">
                                    <a class="button is-invisible">-</a>
                                </div>
                            </div>
                            <div class="field has-addons">
                                <label class="label mr-5">3</label>
                                <div class="control is-expanded">
                                    <input id="text3" class="input" type="text" placeholder="input Option">
                                </div>
                                <div class="control">
                                    <a class="button">-</a>
                                </div>
                            </div>
                            <div class="field has-addons">
                                <label class="label mr-5">4</label>
                                <div class="control is-expanded">
                                    <input id="text4" class="input" type="text" placeholder="input Option">
                                </div>
                                <div class="control">
                                    <a class="button">-</a>
                                </div>
                            </div>
                            <div class="field is-grouped has-addons has-addons-centered">
                                <div class="button">+</div>
                            </div>
                        </div><!-- /Vote Option -->
                    </div><!-- /Vote Setting -->
                <!-- </div> -->
                <!-- /Column -->
            <!-- </div> -->
            <!-- /Columns -->

            <div class="columns">
                <div class="column is-full">
                    <div class="field">
                        <div class="buttons  is-centered">
                            <div class="control">
                                <button class="button is-info" onclick="create()">등록하기</button>
                            </div>
                            <div class="control">
                                <button class="button is-info is-light" onclick="">목록으로</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>