<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <!-- use bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>크래프톤 정글 BLUE | Casting Vote</title>
    <style>
        .wrap {
            margin: auto;
            width: 1200px;
        }

        .mytitle {
            color: black;
            width: 1200px;
            height: 100px;
            border-radius: 10px;
            text-align: center;
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <div class="mytitle mb-6">
            <h1 class="title is-1">Casting Vote</h1>
        </div>

        <div class="loginbox mb-4" style="margin:auto; width: 400px;">
            <div class="field">
                <label class="label">Id</label>
                <div class="control">
                    <input class="input" type="text" placeholder="Text input">
                </div>
            </div>
              
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" placeholder="Text input">
                </div>
            </div>
            <div>
                <button type="submit" class="button is-primary is-fullwidth mb-1">로그인</button>
                <button class="button is-light is-fullwidth">회원가입</button>
            </div>
        </div>
        <div class="notification mb-4" style="width:500px;margin:auto;text-align: center;">
            <p>
                <strong>바로지금 HOT 투표글</strong><br>
                <a href="#">
            학습 vs 실습 뭐가 먼저인가?
            </a>
        </p>
        </div>
        <div class="joinbox mb-4">
            
        </div>
    </div>
</body>
</html>