<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <!-- Use Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Use JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.js" 
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" 
            crossorigin="anonymous"></script>
    <script type="text/javascript" 
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <title>크래프톤 정글 BLUE | Casting Vote</title>
    <style>
        .wrap {
            margin: auto;
            width: 1450px;
        }

        .mytitle {
            color: black;
            width: 1450px;
            height: 100px;
            /* background-image: url('https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg'); */
            /* background-position: center; */
            /* background-size: cover; */

            border-radius: 10px;
            text-align: center;
            padding-top: 50px;
        }
    </style>
    <script>
        $(document).ready(function () {
            $.cookie('mytoken') ? getUsername() : window.location.replace("/")
            // json 형식 res 받는 리스트조회
            // find()

        });
        let sort="date";
      // 토큰 관리
       function getUsername(){
            $.ajax({
              type: "GET",
              headers: {
                  'Authorization' : `Bearer ${$.cookie('mytoken')}`,
              },
              url: "/protected",
              data: {},
              success: (res) => {
                  console.log(res);
                  if (res['result'] == 'success') {
                    
                          
                  }else{
                      window.location.replace("/")
                  }
              }
              
            })
        }   
  
      // 게시글 조회
      function find(){
        // 진행중 투표
        $.ajax({
            type:"POST",
            url: "/list/get",
            data:{"sort":sort, "vaild": 1},
            success:(res)=>{

                if(res['result'] == 'success'){
                    console.log(res['list'])
                }
            }
        })

        // 기간만료 투표
        $.ajax({
            type:"POST",
            url: "/list/get",
            data:{"sort":sort, "vaild": 0},
            success:(res)=>{

                if(res['result'] == 'success'){
                    console.log(res['list'])
                }
            }
        })
  
      }
  
  
      function create(){
          window.location.replace("/list/create")
      }
  
  
      // 로그아웃
      function logout(){
          $.removeCookie('mytoken')
          window.location.replace("/")
      }

      const changeSort = (target) => {
        sort = target.value
        find()
       
      }
    
  
          
  </script>
</head>
<body>
    <div class="wrap">
        <div class="mytitle mb-6">
            <h1 class="title is-1">Casting Vote</h1>
        </div>
 
        <!-- 정렬&버튼 row -->
        <div class="columns">
            <div class="column is-1">
                <div class="select">
                    <select onchange="changeSort(this)">
                      <option value="date">최신순</option>
                      <option value="createId">인기순</option>
                    </select>
                </div>
            </div>
            <div class="column is-1">
                <div class="button is-info" onClick="create()">New Vote</div>
            </div>

            <div class="column is-1">
                <div class="button is-info" onClick="logout()">Logout</div>
            </div>
            <div class="column is-8"></div>
            <div class="column is-1">
                <div class="select">
                    <select>
                      <option>최신순</option>
                      <option>인기순</option>
                    </select>
                  </div>
            </div>
        </div>
        <!-- 테이블 영역 : jinja template 처리 table.html -->
        <div class="columns">
        {% block table %}
        {% endblock %}
        </div>
    </div>
</body>
</html>