{% extends 'list.html' %}
{% block table %}
            <!-- 진행중 투표 col -->
            <div class="column">
                <div id="list-box" style="margin:autho;width:700px;">
                    <div class="columns">
                        <div class="column is-1 has-background-light has-text-weight-semibold is-size-6">No</div>
                        <div class="column is-7 has-background-light has-text-weight-semibold is-size-6">Title</div>
                        <div class="column is-2 has-background-light has-text-weight-semibold is-size-6">Author</div>
                        <div class="column is-2 has-background-light has-text-weight-semibold is-size-6">Date</div>
                    </div>
                                    
                    <!-- 페이징 없이 전체표시 -->
                    {% if validList|length > 0 %}

                    {% for vote in validList %}
                    <div class="columns" onclick="window.location.href='/list/vote/{{vote["_id"]}}'">
                        <div class="column is-1">{{vote["_id"]}}</div>
                        <div class="column is-7" >{{vote["title"]}}</div>
                        <div class="column is-2">{{vote["createId"]}}</div>
                        <div class="column is-2">{{vote["date"]}}</div>
                    </div>
                    {% endfor%}
                 
                    {% else %}
                    <div class="columns">
                        <div class="column is-full">No data</div>
                    </div>

                    {% endif%}
                    <!-- 버튼 껍데기 -->
                    <!-- 
                    <div class="columns">
                        <div class="column is-full">
                            <div class="buttons has-addons is-centered">
                                <button class="button is-info is-selected">1</button>
                                <button class="button">2</button>
                                <button class="button">3</button>
                                <button class="button">4</button>
                                <button class="button">5</button>
                                <button class="button">6</button>
                                <button class="button">7</button>
                                <button class="button">8</button>
                                <button class="button">9</button>
                            </div>
                        </div>
                    </div> 
                    -->
                </div>
            </div>
            
            <!-- 구분 col -->
            <div class="column is-narrow">
            </div>

            <!-- 만료 투표 col -->
            <div class="column">
                <div id="list-box1" style="margin:autho;width:700px;">
                    <div class="columns">
                        <div class="column is-1 has-background-light has-text-weight-semibold is-size-6">No</div>
                        <div class="column is-7 has-background-light has-text-weight-semibold is-size-6">Title</div>
                        <div class="column is-2 has-background-light has-text-weight-semibold is-size-6">Author</div>
                        <div class="column is-2 has-background-light has-text-weight-semibold is-size-6">Date</div>
                    </div>
                    <div class="columns">
                        <div class="column is-1">13</div>
                        <div class="column is-7">점심 메뉴 추천해주세요</div>
                        <div class="column is-2">홍길동</div>
                        <div class="column is-2">분식</div>
                    </div>
                    <div class="columns">
                        <div class="column is-1">0</div>
                        <div class="column is-7">제목</div>
                        <div class="column is-2">작성자</div>
                        <div class="column is-2">1위항목</div>
                    </div>
                    <div class="columns">
                        <div class="column is-1">0</div>
                        <div class="column is-7">제목</div>
                        <div class="column is-2">작성자</div>
                        <div class="column is-2">1위항목</div>
                    </div>
                    <div class="columns">
                        <div class="column is-1">0</div>
                        <div class="column is-7">제목</div>
                        <div class="column is-2">작성자</div>
                        <div class="column is-2">1위항목</div>
                    </div>
                    <div class="columns">
                        <div class="column is-1">0</div>
                        <div class="column is-7">제목</div>
                        <div class="column is-2">작성자</div>
                        <div class="column is-2">1위항목</div>
                    </div>
                    <div class="columns">
                        <div class="column is-1">0</div>
                        <div class="column is-7">제목</div>
                        <div class="column is-2">작성자</div>
                        <div class="column is-2">1위항목</div>
                    </div>
                    <div class="columns">
                        <div class="column is-1">0</div>
                        <div class="column is-7">제목</div>
                        <div class="column is-2">작성자</div>
                        <div class="column is-2">1위항목</div>
                    </div>
                    <div class="columns">
                        <div class="column is-1">0</div>
                        <div class="column is-7">제목</div>
                        <div class="column is-2">작성자</div>
                        <div class="column is-2">1위항목</div>
                    </div>
                    <div class="columns">
                        <div class="column is-1">0</div>
                        <div class="column is-7">제목</div>
                        <div class="column is-2">작성자</div>
                        <div class="column is-2">1위항목</div>
                    </div>
                    <div class="columns">
                        <div class="column is-1">0</div>
                        <div class="column is-7">제목</div>
                        <div class="column is-2">작성자</div>
                        <div class="column is-2">1위항목</div>
                    </div>
                    <div class="columns">
                        <div class="column is-full">
                            <div class="buttons has-addons is-centered">
                                <button class="button is-info is-selected">1</button>
                                <button class="button">2</button>
                                <button class="button">3</button>
                                <button class="button">4</button>
                                <button class="button">5</button>
                                <button class="button">6</button>
                                <button class="button">7</button>
                                <button class="button">8</button>
                                <button class="button">9</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}